<div class="container">
  <div class="card">
    <div style="text-align: center; padding: 15px" class="header">
      <img style="height: 30px" src="https://apps.telkom.co.za/branding/telkom/__M4W/img/site_assets/logo.png" />
    </div>

    <div style="text-align: center">
      <h4><b>Sign In</b></h4>
      <p id="telkomtext">Use your Telkom Account</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      style="margin: auto; display: none" width="98px" id="gif" height="98px" viewBox="0 0 100 100"
      preserveAspectRatio="xMidYMid">
      <circle cx="84" cy="50" r="10" fill="#0083c2">
        <animate attributeName="r" repeatCount="indefinite" dur="0.49019607843137253s" calcMode="spline" keyTimes="0;1"
          values="5;0" keySplines="0 0.5 0.5 1" begin="0s"></animate>
        <animate attributeName="fill" repeatCount="indefinite" dur="1.9607843137254901s" calcMode="discrete"
          keyTimes="0;0.25;0.5;0.75;1" values="#0083c2;#0083c2;#0083c2;#0083c2;#0083c2" begin="0s"></animate>
      </circle>
      <circle cx="16" cy="50" r="10" fill="#0083c2">
        <animate attributeName="r" repeatCount="indefinite" dur="1.9607843137254901s" calcMode="spline"
          keyTimes="0;0.25;0.5;0.75;1" values="0;0;5;5;5" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
          begin="0s"></animate>
        <animate attributeName="cx" repeatCount="indefinite" dur="1.9607843137254901s" calcMode="spline"
          keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84"
          keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s"></animate>
      </circle>
      <circle cx="50" cy="50" r="10" fill="#0083c2">
        <animate attributeName="r" repeatCount="indefinite" dur="1.9607843137254901s" calcMode="spline"
          keyTimes="0;0.25;0.5;0.75;1" values="0;0;5;5;5" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
          begin="-0.49019607843137253s"></animate>
        <animate attributeName="cx" repeatCount="indefinite" dur="1.9607843137254901s" calcMode="spline"
          keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84"
          keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.49019607843137253s"></animate>
      </circle>
      <circle cx="84" cy="50" r="10" fill="#0083c2">
        <animate attributeName="r" repeatCount="indefinite" dur="1.9607843137254901s" calcMode="spline"
          keyTimes="0;0.25;0.5;0.75;1" values="0;0;5;5;5" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
          begin="-0.9803921568627451s"></animate>
        <animate attributeName="cx" repeatCount="indefinite" dur="1.9607843137254901s" calcMode="spline"
          keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84"
          keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.9803921568627451s"></animate>
      </circle>
      <circle cx="16" cy="50" r="10" fill="#0083c2">
        <animate attributeName="r" repeatCount="indefinite" dur="1.9607843137254901s" calcMode="spline"
          keyTimes="0;0.25;0.5;0.75;1" values="0;0;5;5;5" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
          begin="-1.4705882352941175s"></animate>
        <animate attributeName="cx" repeatCount="indefinite" dur="1.9607843137254901s" calcMode="spline"
          keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84"
          keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-1.4705882352941175s"></animate>
      </circle>
    </svg>
    <div style="padding-left: 15px; padding-right: 15px">
      <form id="login_form" action="/auth/login" method="post" >
        <p>
          <label>Username:</label>
          <input class="w3-input" name="username" type="text" required />
        </p>
        <p>
          <label>Password:</label>
          <input class="w3-input" name="password" type="password" required />
        </p>
        <!-- <p>
          <input id="milk" class="w3-check" type="checkbox" checked="checked" />
          <label>Stay logged in</label>
        </p> -->
        <p>
          <button class="block w3-button w3-section w3-ripple" type="submit" value="Submit">
            Log in
          </button>
        </p>
        <div class="col center-align">
          <a class="oauth-container btn darken-4 white black-text" href="/auth/google/"
            style="text-transform:none;width: 100%;">
            <div class="left">
              <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            </div>
            Login with Google
          </a>
        </div>
        <p></p>
        <div class="col center-align">
          <a class="oauth-container btn darken-4 white black-text" href="/auth/facebook/"
            style="text-transform:none;width: 100%;">
            <div class="left">
              <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in"
                src="https://image.flaticon.com/icons/png/512/124/124010.png" />
            </div>
            Login with Facebook
          </a>
        </div>

        <a href="/auth/forgot">Forgot Password?</a>
        <p>Don't have an account? <a href="/auth/create">Create account</a></p>
      </form>
    </div>
  </div>
</div>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

<script>
  $("#login_form").submit(function () {
    $("#gif").css("display", "block");
    $("#login_form").css("display", "none");
    $("#telkomtext").css("display", "none");
  });
</script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<style>
  a {
    color: #0083c2;
    text-decoration: none;
  }

  .block {
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
  }

  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .w3-button {
    background-color: #0083c2;
    color: #fff;
  }

  .w3-button:hover {
    background-color: #035074 !important;
    color: #fff !important;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2px 16px;
  }

  .header {
    border-radius: 20px;
    min-height: 62px;
    background-color: #0083c2;
    padding: 0;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(75, 75, 75, 0.5);
    transition: 0.3s;
    width: 500px;
    border-radius: 20px;
  }
</style>